CompositorTest/Service References/CloudComposition/ImageComposition3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49791/ImageComposition.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InfoView" />
  <xs:element name="Compose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InfoView" minOccurs="0" name="request" nillable="true" type="q1:ImageCompositionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComposeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InfoView" minOccurs="0" name="ComposeResult" nillable="true" type="q2:ImageCompositionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>